<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <!-- <link rel="stylesheet" href="style.css" /> -->

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <style>
      .button {
        width: 270px;
      }

      .container {
        height: 310px;
      }

      a {
        color: #6da5c0;
        text-decoration: none;
        font-size: 25px;
      }

      a:hover {
        color: #0c7075;
      }
    </style>
  </head>

  <body>
    <p style="display: none">{{ alertValue }}</p>
    <a href="{% url 'index' %}" id="home-button">Home</a>
    <div class="container">
      <h1>Forgot Password</h1>
      <form id="forgotPasswordForm" onsubmit="return validateForm()">
        <input type="email" id="email" placeholder="Email" required />
        <br />
        <button type="submit" class="button">Reset Password</button>
      </form>
      <p>
        Remember your password?
        <a href="{% url 'login' %}" style="font-size: 22px">Login</a>
      </p>
    </div>

    <script>
      function validateForm() {
        var email = document.getElementById("email").value;

        // Simple email validation using a regular expression
        var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;

        if (!emailPattern.test(email)) {
          alert("Please enter a valid email address.");
          return false;
        }

        alert("Password reset instructions sent to your email!");
        return true;
      }
    </script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
