<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contacts Manager</title>
  <!-- <link rel="stylesheet" href="style.css" /> -->

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
  <div class="container">
    <h1>Contacts Manager</h1>
    <br />
    <table style="margin-left: 12.5%">
      <tr>
        <td>
          <a href="{% url 'login' %}" class="button">Login</a>
        </td>
        <td>
          <a href="{% url 'signup' %}" class="button">Sign Up</a>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>